@using Rubin2000.Services.ForAppointments.Models
@using Rubin2000.Global
@using Rubin2000.Models.Enums
@model AppointmentInfoServiceModel

<div class="container">

    <div class="card text-center border border-danger">
        <div class="card-body">
            <h3 class="card-title text-danger">@Model.ProcedureCategoryName</h3>
            <h3 class="card-text font-italic text-danger">@Model.ProcedureName</h3>
        </div>
        <div class="card-footer">
            <h5 class="card-text text-danger">@Model.Date at @Model.Time</h5>
        </div>
    </div>
    <div class="card text-center border border-danger">
        <div class="card-header bg-danger text-white font-weight-bold">
            Procedure Details:
        </div>
        <ul class="list-group list-group-horizontal list-group-flush">
            <li class="list-group-item font-italic text-danger">Price: @Model.Price</li>
            <li class="list-group-item font-italic text-danger">Duration: @Model.ProcedureTime</li>
            @if (Model.EmployeeOccupation.ToLower() == OccupationConstants.HairStyler)
            {
                <li class="list-group-item font-italic text-danger">
                    Hair Styler: @Model.EmployeeName
                </li>
            }
            else
            {
                <li class="list-group-item font-italic text-danger">
                    Manicurist: @Model.EmployeeName
                </li>
            }
        </ul>
        <div class="card-footer">
            <h3 class="card-text text-danger">Client info:</h3>
            <p class="card-text text-danger">Name: @Model.ClientName</p>
            <p class="card-text text-danger">Phone Number: @Model.ClientPhoneNumber</p>
            <p class="card-text text-danger">Creator: @Model.UserFirstName @Model.UserLastName</p>
        </div>
    </div>


    <div class="card text-center border border-danger">
        <div class="card-header bg-danger">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="#">Status</a>
                </li>
                @if (Model.Status == AppointmentStatus.Pending.ToString())
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Appointments" asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a>
                    </li>
                }
            </ul>
        </div>
        <div class="card-body">
            @if (Model.Status == AppointmentStatus.Approved.ToString())
            {
                <h3 class="card-title text-success">@Model.Status</h3>
            }
            else if (Model.Status == AppointmentStatus.Declined.ToString())
            {
                <h3 class="card-title text-danger">@Model.Status</h3>
            }
            else if (Model.Status == AppointmentStatus.Pending.ToString())
            {
                <h3 class="card-title text-warning">@Model.Status</h3>
            }
            else if (Model.Status == AppointmentStatus.Expired.ToString())
            {
                <h3 class="card-title text-dark">@Model.Status</h3>
            }
        </div>
        <div class="card-footer border border-danger">
            <p class="card-text text-danger font-weight-bold">@Model.Description</p>
        </div>
    </div>
    <br />
    <a class="btn btn-danger text-center" asp-controller="Appointments" asp-action="MyAppointments">Go Back</a>
</div>


