@using Rubin2000.Web.Models.Appointments;
@using Rubin2000.Models.Enums;
@model IEnumerable<AppointmentScheduleViewModel>

<h1>@ViewBag.EmployeeName's Schedule</h1>

<div style="margin-bottom: 60px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">
                    <h4 style="text-align: center">@DateTime.UtcNow.Date.ToString(DateViewFormat)</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 80px">Time</td>
                <td style="width: 320px">Procedure</td>
                <td style="width: 160px">Client's Name</td>
                <td style="width: 110px">Status</td>
                <td style="width: fit-content"></td>
            </tr>
            @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Time</td>
                    <td>@appointment.ProcedureName</td>
                    <td>@appointment.ClientName</td>
                    @if (appointment.Status == AppointmentStatus.Approved.ToString())
                    {
                        <td class="text-success">
                            @appointment.Status
                        </td>
                        <td>
                            <div>
                                <a class="alert-warning btn" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">Info</a>
                                <a class="alert-danger btn" asp-controller="Schedules" asp-action="Decline" asp-route-id="@appointment.AppointmentId">Decline</a>
                                <a class="alert-danger btn delete-warning" asp-controller="Schedules" asp-action="Delete" asp-route-id="@appointment.AppointmentId">Clear</a>
                            </div>
                        </td>
                    }
                    else if (appointment.Status == AppointmentStatus.Declined.ToString())
                    {
                        <td class="text-danger">
                            @appointment.Status
                        </td>
                        <td>
                            <div>
                                <a class="alert-warning btn" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">Info</a>
                                <a class="alert-danger btn delete-warning" asp-controller="Schedules" asp-action="Delete" asp-route-id="@appointment.AppointmentId">Clear</a>
                            </div>
                        </td>
                    }
                    else if (appointment.Status == AppointmentStatus.Pending.ToString())
                    {
                        <td class="text-warning">
                            @appointment.Status
                        </td>
                        <td>
                            <div>
                                <a class="alert-success btn" asp-controller="Schedules" asp-action="Approve" asp-route-id="@appointment.AppointmentId">Approve</a>
                                <a class="alert-warning btn" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">Info</a>
                                <a class="alert-danger btn" asp-controller="Schedules" asp-action="Decline" asp-route-id="@appointment.AppointmentId">Decline</a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>
