@using Rubin2000.Services.ForSchedules.Models;
@using Rubin2000.Models.Enums;
@model IEnumerable<EmployeeScheduleAppointmentServiceModel>

<h1>
    @ViewBag.EmployeeName's Schedule
    <a class="alert-info btn d-inline" asp-controller="Schedules" asp-action="All" asp-route-id="@ViewBag.ScheduleId">See all</a>
</h1>

<div style="margin-bottom: 60px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">
                    <h4 style="text-align: center">TODAY - @DateTime.UtcNow.Date.ToString(DateViewFormat)</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 80px">Time</td>
                <td style="width: 320px">Procedure</td>
                <td style="width: 160px">Client's Name</td>
                <td style="width: 200px">Created By</td>
                <td style="width: fit-content"></td>
            </tr>
            @foreach (var appointment in Model.Where(a => CommonMethods.IsAppointmentApproved(a.Status)))
            {
                <tr>
                    <td>@appointment.Time</td>
                    <td>@appointment.ProcedureName</td>
                    <td>@appointment.ClientName</td>
                    <td>@appointment.CreatorName</td>
                    <td>
                        <div>
                            <a class="alert-warning btn" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">Info</a>
                            <a class="alert-danger btn" asp-controller="Appointments" asp-action="EmployeeDecline" asp-route-id="@appointment.AppointmentId">Decline</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div style="margin-top: 60px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">
                    <h4 style="text-align: center">PENDING</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 80px">Time</td>
                <td style="width: 320px">Procedure</td>
                <td style="width: 160px">Client's Name</td>
                <td style="width: 200px">Created By</td>
                <td style="width: fit-content"></td>
            </tr>
            @foreach (var appointment in Model.Where(a => CommonMethods.IsAppointmentPending(a.Status)))
            {
                <tr>
                    <td>@appointment.Time</td>
                    <td>@appointment.ProcedureName</td>
                    <td>@appointment.ClientName</td>
                    <td>@appointment.CreatorName</td>
                    <td>
                        <div>
                            <a class="alert-success btn" asp-controller="Schedules" asp-action="Approve" asp-route-id="@appointment.AppointmentId">Approve</a>
                            <a class="alert-warning btn" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">Info</a>
                            <a class="alert-danger btn" asp-controller="Appointments" asp-action="EmployeeDecline" asp-route-id="@appointment.AppointmentId">Decline</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>