@using Rubin2000.Services.ForSchedules.Models;
@model IEnumerable<EmployeeScheduleAppointmentServiceModel>

    <div class="container">
        <div class="card border border-danger">
            <div class="card-header bg-danger">
                <h1 class="card-title text-white text-center font-italic">
                    @ViewBag.EmployeeName's Schedule
                    <a class="btn btn-outline-light" asp-controller="Schedules" asp-action="All" asp-route-id="@ViewBag.ScheduleId">See all</a>
                </h1>
            </div>

            <div class="card-body" style="margin-bottom: 60px">
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                        <tr class="bg-danger">
                            <th colspan="6">
                                <h4 class="text-center text-white font-italic">TODAY - @DateTime.UtcNow.Date.ToString(DateViewFormat)</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-danger">
                            <td class="text-center text-white font-weight-bold" style="width: 80px">Time</td>
                            <td class="text-center text-white font-weight-bold" style="width: 320px">Procedure</td>
                            <td class="text-center text-white font-weight-bold" style="width: 160px">Client's Name</td>
                            <td class="text-center text-white font-weight-bold" style="width: 200px">Created By</td>
                            <td class="text-center text-white font-weight-bold" style="width: fit-content"></td>
                        </tr>
                        @foreach (var appointment in Model.Where(a => CommonMethods.IsAppointmentApproved(a.Status)
                                                                  && DateTime.Parse(a.Date) == DateTime.UtcNow.Date))
                        {
                    <tr>
                        <td class="text-danger font-weight-bold">@appointment.Time</td>
                        <td class="text-danger font-weight-bold">@appointment.ProcedureName</td>
                        <td class="text-danger font-weight-bold">@appointment.ClientName</td>
                        <td class="text-danger font-weight-bold">@appointment.CreatorName</td>
                        <td>
                            <div class="btn-group">
                                <a class="alert-warning btn" asp-area="" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">
                                    <i class="bi bi-info-square-fill" style="font-size:larger"></i>
                                </a>
                                <a class="alert-danger btn delete-warning" asp-area="Admin" asp-controller="Appointments" asp-action="EmployeeDecline" asp-route-id="@appointment.AppointmentId">
                                    <i class="bi bi-x-square-fill" style="font-size:larger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                        }
                    </tbody>

                </table>
            </div>

            <div class="card-footer bg-white border-danger" style="margin-top: 60px">
                <table class="table table-bordered table-responsive-sm">
                    <thead>
                        <tr class="bg-danger">
                            <th colspan="6">
                                <h4 class="text-center text-white font-italic">PENDING</h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-danger">
                            <td class="text-center text-white font-weight-bold" style="width: 100px">Date</td>
                            <td class="text-center text-white font-weight-bold" style="width: 80px">Time</td>
                            <td class="text-center text-white font-weight-bold" style="width: 320px">Procedure</td>
                            <td class="text-center text-white font-weight-bold" style="width: 160px">Client's Name</td>
                            <td class="text-center text-white font-weight-bold" style="width: 200px">Created By</td>
                            <td class="text-center text-white font-weight-bold" style="width: fit-content"></td>
                        </tr>
                        @foreach (var appointment in Model.Where(a => CommonMethods.IsAppointmentPending(a.Status)))
                        {
                    <tr>
                        <td class="text-danger font-weight-bold" style="width: 100px">@appointment.Date</td>
                        <td class="text-danger font-weight-bold">@appointment.Time</td>
                        <td class="text-danger font-weight-bold">@appointment.ProcedureName</td>
                        <td class="text-danger font-weight-bold">@appointment.ClientName</td>
                        <td class="text-danger font-weight-bold">@appointment.CreatorName</td>
                        <td>
                            <div class="btn-group">
                                <a class="alert-success btn" asp-area="Admin" asp-controller="Schedules" asp-action="Approve" asp-route-id="@appointment.AppointmentId">
                                    <i class="bi bi-hand-thumbs-up-fill" style="font-size:larger"></i>
                                </a>
                                <a class="alert-danger btn delete-warning" asp-area="Admin" asp-controller="Appointments" asp-action="EmployeeDecline" asp-route-id="@appointment.AppointmentId">
                                    <i class="bi bi-hand-thumbs-down-fill" style="font-size:larger"></i>
                                </a>
                                <a class="alert-warning btn" asp-area="" asp-controller="Appointments" asp-action="Info" asp-route-id="@appointment.AppointmentId">
                                    <i class="bi bi-info-square-fill" style="font-size:larger"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>